<div class="card text-center" style="width: fit-content; margin: 5px 10px">
  <div class="card-header">
    <a [routerLink]="[ '/collegues', collegue.pseudo ]">
      <img
        class="card-img-top"
        style="width: 10rem"
        [src]="collegue.photo"
        alt="userPhoto"
      />
    </a>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ collegue.pseudo | uppercase }}</h5>
    <p class="card-text">{{ collegue.score | score }}</p>
    <app-avis
      [likeDisable]="collegue.score >= 1000"
      [dislikeDisable]="collegue.score <= -1000"
      (vote)="updateScore($event)"
    ></app-avis>
  </div>
</div>
